// Заголовки, загальні БЕМ блоки та інше...

.title {
  @include adaptiveValue("font-size", 48, 28);
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.text {
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 500;
  line-height: 120%; /* 24/20 */
}

.title-2 {
  @include adaptiveValue("font-size", 32, 22);
  font-weight: 600;
  line-height: 105%; /* 100% */

  mark {
    background-color: #1e76fe;
    color: #fff;
    text-align: center;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: 118%; /* 118.75% */
    padding-top: toRem(5);
    padding-bottom: toRem(5);
    @include adaptiveValue("padding-right", 40, 20);
    @include adaptiveValue("padding-left", 40, 20);
    border-radius: toRem(40);
    display: inline-block;
    vertical-align: middle;
  }
}
.text-2 {
  @include adaptiveValue("font-size", 16, 14);
  font-weight: 500;
  line-height: 120%; /* 24/20 */
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
