// Заголовки, загальні БЕМ блоки та інше...

.title {
  @include adaptiveValue("font-size", 48, 28);
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.text {
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 500;
  line-height: 120%; /* 24/20 */
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
