//========================================================================================================================================================
.photo {
  @include adaptiveValue("padding-top", 65, 35);
  @include adaptiveValue("padding-bottom", 65, 35);

  &__title {
    @include adaptiveValue("margin-bottom", 30, 25);
  }
  &__slider {
    position: relative;
  }

  &__wrapper {
  }

  &__slide-ibg {
    padding-bottom: percent(678, 1200);
    @include adaptiveValue("border-radius", 30, 20);
    overflow: hidden;

    @media (max-width: $mobile) {
      padding-bottom: 70%;
    }
  }

  &__navigation {
    @media (min-width: $mobile) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: toRem(20);
      right: toRem(20);
      width: calc(100% - toRem(40));
    }
    @media (max-width: $mobile) {
      margin-top: toRem(20);
      justify-content: flex-end;

      .navigation__button {
        border: toRem(1) solid #14213d;
      }
    }
  }
}
//========================================================================================================================================================
